<mat-card>
    <mat-card-title>
        <h1>Administracion de Personas</h1>
    </mat-card-title>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Detalle Persona
                    </mat-panel-title>
                    <mat-panel-description>
                        Detalle de informacion necesaria para cada Persona
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-persons-detail></app-persons-detail>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Listado de Personas
                    </mat-panel-title>
                    <mat-panel-description>
                        Personas registradas
                        <mat-icon>collections_bookmark</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-persons-list></app-persons-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
