:host ::ng-deep .mat-form-field-wrapper {
    position: unset !important;
    width: 100%;
}

.mat-form-field {
    padding-top: 10px;
}

body {
    background-image: '/YouOweMe/src/assets/background.png'!important;
    background-size: 100%;
    background-size: cover;
}

.login-wrapper {
    background-image: '/YouOweMe/src/assets/background.png';
    background-size: 100%;
    background-size: cover;
}

.box {
    box-shadow: 10px 5px 5px #bae8e8;
    border-radius: 5%;
}