@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<div class="text-center">
    <h1 class="display-4">Bienvenido a YouOweMe</h1>
    <p>Aplicacion de prestamos de objetos.</p>
    <p>Desarrollo básico de aplicativo MVC para ABM de Cosas</p>
</div>
