<mat-toolbar style="background: #272343; color: white;" *ngIf="currentUser != null">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <a class="nav-header" mat-button [routerLink]="'/Menu'">You Owe Me</a>
        <span class="menu-spacer"></span>
        <div class="pull-left">
            <a mat-button [routerLink]="'/Persons'">Personas</a>
            <a mat-button [routerLink]="'/Categories'">Categorias</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list fxLayout="column" fxFlex>
            <a mat-button [routerLink]="'/Menu'" fxLayout="row" fxLayoutAlign="left center">Menu</a>
            <a mat-button [routerLink]="'/Persons'" fxLayout="row" fxLayoutAlign="left center">Personas</a>
            <a mat-button [routerLink]="'/Categories'" fxLayout="row" fxLayoutAlign="left center">Categorias</a>
            <mat-divider></mat-divider>
            <span fxFlex></span>
            <mat-divider></mat-divider>
            <a mat-button (click)="sidenav.toggle(); logout()" fxLayout="row" style="color: red;" fxLayoutAlign="center center">Cerrar sesion</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="currentUser" style="height: 93.2vh;">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="!currentUser" style="height: 100vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
