@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    var exception = ViewData["Exception"] as Exception;
}

@section Scripts {}

<h1 class="text-danger">Ocurrio un error.</h1>
<h2>Ocurrio un error al procesar la solicitud.</h2>

<h3>Atencion!</h3>
<p>
    Mensaje: <strong class="text-danger">@exception.Message</strong>.
</p>
